doctype html
html(lang='zh-Hant')
    head
        meta(charset='UTF-8')
        title Title
        include include/_head
        style(type='text/css')
            | body {
            |    background-color:#242424;
            |       }
    body.d-flex
        iframe.demo-iframe.mt-4(src='index.html')
