extends include/_layout
block vars
    - var module='index'
    - var headerClass = ''
block content
    main.page__index
        section.banner
            .container
                img(src="http://fakeimg.pl/450x300", alt="")
        section