nav.header-fixed
    .brand-bar
        .brand-logo
            img(src="http://fakeimg.pl/100x52", alt="Company Logo")
        .search
           button
                i.fa.fa-search
.menu-main
    .brand-logo
        img(src="http://fakeimg.pl/100x52", alt="Company Logo")
    nav.navbar
        ul
            li
